
body {
    width: 1024px;
    margin: 0 auto;
}

table tr.label {
    color: #b5cc18;
}

.ui.table {
    margin-top: .5em;
}

.title {
    font-size: 2em;
    margin: 1.5em 0 1em 0;
}
.summary .value {
    font-weight: bold;
}
.summary .url.label {
    width: 50px;
    text-align: center;
}
.summary .url.value {
    font-size: 1.2em;
}
.summary .plugins.label {
    width: 5em;
}
.summary .plugins.value {
    width: 15em;
}
.summary .plugins.value span {

    padding-right: .6em;
}
.summary .method {
    width: 5em;
}
.summary .label {
    text-align: center;
}

.section {
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: bold;
}

.parameters .label .name {
    width: 12em;
}
.parameters .label .requisite {
    width: 2em;
}
.parameters .label .type-name {
    width: 6.7em;
}

.parameters .param .name {
    font-size: 1.1em;
    padding-right: 0;
}
.parameters .param .type-name {
    text-align: right;
    padding: 0.78571429em 0;
}
.parameters .param .type-description {
    color: #888888;
    font-size: .8em;
    padding-left: 1.1em;
}

.codes .item.plugin, .codes .item.biz {
    color: #b58105;
}

.codes blockquote {
    margin: 1em;
}

.codes .code {
    font-size: 1.1em;
}

.codes .label .code {
    width: 19em;
}