<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>API Test Interface</title>
    <script type="text/javascript" src="/res/libs/jquery.min.js"></script>
    <link rel="stylesheet" href="/res/fonts/lato.min.css"/>
    <link rel="stylesheet" href="/res/libs/semantic/semantic.min.css"/>
    <script type="text/javascript" src="/res/libs/semantic/semantic.min.js"></script>
    <link rel="stylesheet" href="/res/css/tests/tests.min.css"/>
    <script type="text/javascript">
        function do_entry(){
            window.location = '/tests/?user=' + $('#user')[0].value;
        }
        $(document).ready(function(){
            var margin_top = ($(window).height() - 141) * (2/5);    // slants on looking at more comfortable
            $(".ui.form").css({"margin": margin_top + "px auto 0 auto", "width": "600px"});
        });
    </script>
</head>
<body>
    <form class="ui form attached fluid segment" action="javascript:do_entry()">
        <div class="field">
            <label>{{ message }}</label>
            <input type="text" id="user" autofocus="autofocus">
        </div>
        <div class="ui blue submit button" onclick="do_entry()">Enter</div>
    </form>
</body>
</html>