
body {
    width: 1024px;
    margin: 0 auto;
}

table tr.label {
    color: #b5cc18;
}

.ui.table {
    margin-top: .5em;
}

.index-label {
    font-size: 2em;
    line-height: 2em;
    padding-top: 1em;
}
#index .method {
    font-size: .8em;
}

.title {
    font-size: 2em;
    margin: 2em 0 .5em 0;
}
.summary .value {
    font-weight: bold;
}
.summary .url.label {
    width: 50px;
    text-align: center;
}

.summary .url.value {
    font-size: 1.2em;
}

.summary .method {
    width: 5em;
}

.summary .label {
    text-align: center;
}

.section {
    font-size: 1.1em;
    font-weight: bold;
}

.parameters .label .type {
    padding-left: 0;
}
.parameters .param .type {
    text-align: right;
    padding-right: 0;
}
.parameters .param .type-description {
    color: #888888;
    font-size: .8em;
    padding-left: .5em;
}

.index-link {
    padding-bottom: 1em;
    height: 2em;
    line-height: 2em;
    font-size:1.4em;
}