<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.12/dist/semantic.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.12/dist/semantic.js"></script>
    <style>
        {% include 'doc.css' %}
    </style>
</head>
<body>
{% for api in apis %}
    <div class="title">{{ api.title | safe }}</div>
    <table id="summary" class="ui black table">
        <tr>
            <td class="url label">Url:</td>
            <td class="url value"></td>

            <td class="fun">
                {% for plugin in api.meta.plugin_keys %}
                <span class="ui circular label teal value">&nbsp;{{ plugin }}&nbsp;</span>
                {% endfor %}&nbsp;
                {% for method in api.methods %}
                <a class="ui circular label blue value" onclick="javascript:show_exe_ui('{{ method }}');">&nbsp;► {{ method }}&nbsp;</a>
                {% endfor %}
            </td>
        </tr>
        {% if api.description %}
        <tr><td class="description" colspan="{{ 6 if api.meta.plugin_keys else 4 }}">{{ api.description | safe }}</td></tr>
        {% endif %}
    </table>
    {% if api.meta.param_list %}
    <div class="section">Request Parameters:</div>
    <table class="ui blue table parameters">
        <tr class="label">
            <td class="name">Name</td>
            <td class="requisite"></td>
            <td class="type-name"></td>
            <td class="type-description">Type</td>
            <td>Description</td>
        </tr>
        {% for param in api.meta.param_list %}
        <tr class="param">
            <td class="name">{{ param.name }}</td>
            <td class="requisite">{{ '*' if param.requisite else '' }}</td>
            <td class="type-name">{{ param.type.__name__ }}</td>
            <td class="type-description">{{ param.type.description }}</td>
            <td class="description">{{ param.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if api.meta.response %}
    <div class="section">Response Data:</div>
    <table class="ui blue table codes">
        {% if api.meta.code_list %}
        <tr class="label">
            <td class="code">Code</td>
            <td>Description</td>
        </tr>
            {% for code,  code_desc, category in api.meta.code_list %}
            <tr class="item {{ category }}">
                <td class="code">{{ code }}</td>
                <td class="description">{{ code_desc }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        <tr id="response_doc"><td colspan="2">{{ api.response_doc | safe }}</td></tr>
    </table>
    {% endif %}
{% endfor %}
<script>
    // support for api gateway
    $("td.url.value").text(window.location.pathname.replace('__doc', ''));
    document.title = "DOC " + window.location.pathname.replace('__doc', '');
    function show_exe_ui(method){
        var p = window.location.pathname.indexOf('?') === -1 ? '?' : '&';
        window.open(window.location.pathname.replace('__doc', '__exe') + p + 'method=' + method);
    }
</script>
</body>
</html>