<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>DOC {{ url }}</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.12/dist/semantic.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.12/dist/semantic.js"></script>
    <style>
        {% include 'doc.css' %}
    </style>
</head>
<body>
    <div class="title">{{ title | safe }}</div>
    <table class="ui black table summary">
        <tr>
            <td class="url label">Url:</td>
            <td class="url value"></td>
            {% if element.plugin_keys %}
            <td class="plugins label">Support:</td>
            <td class="plugins value">
                {% for plugin in element.plugin_keys %}
                <span>{{ plugin }}</span>
                {% endfor %}
            </td>
            {% endif %}
            <td class="method">
                {% for method in methods %}
                {% if method not in ('OPTIONS', 'HEAD') %}
                <span class="value">{{ method }}</span>&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if description %}
        <tr><td class="description" colspan="{{ 6 if element.plugin_keys else 4 }}">aaa {{ description | safe }}</td></tr>
        {% endif %}
    </table>
    {% if element.param_list %}
    <div class="section">Request Parameters:</div>
    <table class="ui olive table parameters">
        <tr class="label">
            <td class="name">Name</td>
            <td class="requisite"></td>
            <td class="type-name"></td>
            <td class="type-description">Type</td>
            <td>Description</td>
        </tr>
        {% for param in element.param_list %}
        <tr class="param">
            <td class="name">{{ param.name }}</td>
            <td class="requisite">{{ '*' if param.requisite else '' }}</td>
            <td class="type-name">{{ param.type.__name__ }}</td>
            <td class="type-description">{{ param.type.description }}</td>
            <td class="description">{{ param.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if element.response %}
    <div class="section">Response Data:</div>
    <table class="ui olive table codes">
        {% if element.code_list %}
        <tr class="label">
            <td class="code">Code</td>
            <td>Description</td>
        </tr>
            {% for code,  description, category in element.code_list %}
            <tr class="item {{ category }}">
                <td class="code">{{ code }}</td>
                <td class="description">{{ description }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        <tr class="label"><td colspan="2">{{ response_doc | safe }}</td></tr>
    </table>
    {% endif %}

    <script>
        // support for api gateway
        $("td.url.value").text(window.location.pathname);
        document.title = "DOC " + window.location.pathname;
    </script>
</body>
</html>